.shared-params {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    border: none;
}
#choices {
    flex-direction: row;
    width: 100%;
}
.side-panel {    
    flex-direction: column;
    width: 50%;
}
.top-header {
    flex-direction: row;
    justify-content: space-between;
    height: 2em;
}
.elements {
    margin: .2em;
    padding: 0.5em;
    border-radius: 12px;
    font-size: min(1vw, 14px);
}
.api-node {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 219, 223);
    color:rgb(116, 113, 113);
}
.titleScore {
    background-color: white;
    color:rgb(116, 113, 113);
}




#path {
    flex-direction: row;
    justify-content: flex-start;
}

.api-button {
    background-color: transparent;
    border: none;
    max-height: 99%;
    min-width: 20px;
    max-width: 40px;
    margin: 0.1em;
}

.dimension-choices {
    flex-direction: row;
    flex-wrap: wrap;
}
.dimension {
    background-color: rgb(243, 235, 236);
    color:rgb(80, 80, 80);
}
.selected-dimension {
    background-color: rgb(80, 80, 80);
    color:rgb(243, 235, 236);
}

.serie-preview {
    background-color: rgb(243, 235, 236);
    background-color: rgb(243, 235, 236);
    color:rgb(80, 80, 80);
    max-width: 70%;
    flex-direction: column;
}


.buttons-selected {
    flex-direction: row;
    justify-content: space-between;
}
.dimensions-selected {
    flex-direction: row;
    justify-content: right;
}
.factors {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#chartdiv {
    min-height: 500px;
    min-width: 100%;
}